################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/reactsample/bin/Debug/netcoreapp2.0
/reactsample/node_modules
/reactsample/obj
/reactsample/src/__snapshots__/App.test.js.snap
